<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="net.sf.jautodoc.object.project"
            objectClass="org.eclipse.jdt.core.IJavaProject">
         <action
               class="net.sf.jautodoc.actions.AddJavadocOAD"
               id="net.sf.jautodoc.object.action.project.addJavadoc"
               label="%popup.object.project.label.javadoc"
               menubarPath="net.sf.jautodoc.object.menu/addJavadoc">
          </action>
         <action
               class="net.sf.jautodoc.actions.AddHeaderOAD"
               id="net.sf.jautodoc.object.action.project.addHeader"
               label="%popup.object.project.label.header"
               menubarPath="net.sf.jautodoc.object.menu/addJavadoc">
          </action>
         <menu
               icon="icons/add_javadoc.gif"
               id="net.sf.jautodoc.object.menu"
               label="%popup.main.label"
               path="additions">
            <groupMarker name="addJavadoc"/>
         </menu>
      </objectContribution>
      <objectContribution
            id="net.sf.jautodoc.object.package"
            objectClass="org.eclipse.jdt.core.IPackageFragment">
         <visibility>
            <not>
               <objectClass name="org.eclipse.jdt.internal.core.JarPackageFragment"/>
            </not>
         </visibility>
         <action
               class="net.sf.jautodoc.actions.AddJavadocOAD"
               id="net.sf.jautodoc.object.action.package.addJavadoc"
               label="%popup.object.package.label.javadoc"
               menubarPath="net.sf.jautodoc.object.menu/addJavadoc">
          </action>
         <action
               class="net.sf.jautodoc.actions.AddHeaderOAD"
               id="net.sf.jautodoc.object.action.package.addHeader"
               label="%popup.object.package.label.header"
               menubarPath="net.sf.jautodoc.object.menu/addJavadoc">
          </action>
         <action
               class="net.sf.jautodoc.actions.AddPackageJavadocOAD"
               id="net.sf.jautodoc.object.action.package.addPackageJavadoc"
               label="%popup.object.package.label.pkgdoc"
               menubarPath="net.sf.jautodoc.object.menu/addJavadoc">
          </action>
         <menu
               icon="icons/add_javadoc.gif"
               id="net.sf.jautodoc.object.menu"
               label="%popup.main.label"
               path="additions">
            <groupMarker name="addJavadoc"/>
         </menu>
      </objectContribution>
      <objectContribution
            id="net.sf.jautodoc.object.cu"
            objectClass="org.eclipse.jdt.core.ICompilationUnit">
         <action
               class="net.sf.jautodoc.actions.AddJavadocOAD"
               id="net.sf.jautodoc.object.action.cu.addJavadoc"
               label="%popup.object.cu.label.javadoc"
               menubarPath="net.sf.jautodoc.object.menu/addJavadoc"/>
         <action
               class="net.sf.jautodoc.actions.AddHeaderOAD"
               id="net.sf.jautodoc.object.action.cu.addHeader"
               label="%popup.object.cu.label.header"
               menubarPath="net.sf.jautodoc.object.menu/addJavadoc"/>
         <menu
               icon="icons/add_javadoc.gif"
               id="net.sf.jautodoc.object.menu"
               label="%popup.main.label"
               path="additions">
            <groupMarker name="addJavadoc"/>
         </menu>
      </objectContribution>
      <objectContribution
            id="net.sf.jautodoc.object.member"
            objectClass="org.eclipse.jdt.core.IMember">
         <visibility>
            <or>
               <objectClass name="org.eclipse.jdt.internal.core.SourceMethod"/>
               <objectClass name="org.eclipse.jdt.internal.core.SourceField"/>
               <objectClass name="org.eclipse.jdt.internal.core.SourceType"/>
            </or>
         </visibility>
         <action
               class="net.sf.jautodoc.actions.AddJavadocOAD"
               id="net.sf.jautodoc.object.action.member.addJavadoc"
               label="%popup.object.member.label"
               menubarPath="net.sf.jautodoc.object.menu/addJavadoc"/>
         <menu
               icon="icons/add_javadoc.gif"
               id="net.sf.jautodoc.object.menu"
               label="%popup.main.label"
               path="additions">
            <groupMarker name="addJavadoc"/>
         </menu>
      </objectContribution>
      <viewerContribution
            id="net.sf.jautodoc.view"
            targetID="#CompilationUnitEditorContext">
         <action
               class="net.sf.jautodoc.actions.AddHeaderEAD"
               definitionId="net.sf.jautodoc.commands.AddHeaderDlg"
               id="net.sf.jautodoc.view.action.addHeaderDlg"
               label="%popup.view.label.header.dlg"
               menubarPath="net.sf.jautodoc.view.menu/addJavadoc"/>
         <action
               class="net.sf.jautodoc.actions.AddHeaderEAD"
               definitionId="net.sf.jautodoc.commands.AddHeader"
               id="net.sf.jautodoc.view.action.addHeader"
               label="%popup.view.label.header"
               menubarPath="net.sf.jautodoc.view.menu/addJavadoc"/>
         <action
               class="net.sf.jautodoc.actions.AddJavadocEAD"
               definitionId="net.sf.jautodoc.commands.AddJavadocDlg"
               id="net.sf.jautodoc.view.action.addJavadocDlg"
               label="%popup.view.label.javadoc.dlg"
               menubarPath="net.sf.jautodoc.view.menu/addJavadoc"/>
         <action
               class="net.sf.jautodoc.actions.AddJavadocEAD"
               definitionId="net.sf.jautodoc.commands.AddJavadoc"
               id="net.sf.jautodoc.view.action.addJavadoc"
               label="%popup.view.label.javadoc"
               menubarPath="net.sf.jautodoc.view.menu/addJavadoc"/>
         <menu
               icon="icons/add_javadoc.gif"
               id="net.sf.jautodoc.view.menu"
               label="%popup.main.label"
               path="additions">
            <groupMarker name="addJavadoc"/>
         </menu>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.jdt.ui.preferences.JavaBasePreferencePage"
            class="net.sf.jautodoc.preferences.MainPreferencePage"
            id="net.sf.jautodoc.preferences.MainPreferencePage"
            name="%preference.page.label.main"/>
      <page
            category="org.eclipse.jdt.ui.preferences.JavaBasePreferencePage/net.sf.jautodoc.preferences.MainPreferencePage"
            class="net.sf.jautodoc.preferences.templates.TemplatePreferencePage"
            id="net.sf.jautodoc.preferences.templates.TemplatePreferencePage"
            name="%preference.page.label.templates"/>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="net.sf.jautodoc.categories.JAutodoc"
            name="JAutodoc"/>
      <command
            categoryId="net.sf.jautodoc.categories.JAutodoc"
            defaultHandler="net.sf.jautodoc.actions.AddJavadocECH"
            id="net.sf.jautodoc.commands.AddJavadoc"
            name="Add Javadoc"/>
      <command
            categoryId="net.sf.jautodoc.categories.JAutodoc"
            defaultHandler="net.sf.jautodoc.actions.AddJavadocDlgECH"
            id="net.sf.jautodoc.commands.AddJavadocDlg"
            name="Add Javadoc with Dialog"/>
      <command
            categoryId="net.sf.jautodoc.categories.JAutodoc"
            defaultHandler="net.sf.jautodoc.actions.AddHeaderECH"
            id="net.sf.jautodoc.commands.AddHeader"
            name="Add Header"/>
      <command
            categoryId="net.sf.jautodoc.categories.JAutodoc"
            defaultHandler="net.sf.jautodoc.actions.AddHeaderDlgECH"
            id="net.sf.jautodoc.commands.AddHeaderDlg"
            name="Add Header with Dialog"/>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="net.sf.jautodoc.commands.AddJavadoc"
            contextId="org.eclipse.jdt.ui.javaEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+ALT+J"/>
      <key
            commandId="net.sf.jautodoc.commands.AddJavadocDlg"
            contextId="org.eclipse.jdt.ui.javaEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+ALT+I"/>
      <key
            commandId="net.sf.jautodoc.commands.AddHeader"
            contextId="org.eclipse.jdt.ui.javaEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+ALT+K"/>
      <key
            commandId="net.sf.jautodoc.commands.AddHeaderDlg"
            contextId="org.eclipse.jdt.ui.javaEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+ALT+O"/>
   </extension>
   <extension
         point="org.eclipse.ant.core.extraClasspathEntries">
      <extraClasspathEntry library="lib/jautodoc-ant.jar"/>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="net.sf.jautodoc.ant.JAutodocTask"
            eclipseRuntime="true"
            headless="true"
            library="lib/jautodoc-ant.jar"
            name="jautodoc"/>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="net.sf.jautodoc.preferences.MainPreferencePage"
            id="net.sf.jautodoc.properties.MainPreferencePage"
            name="%preference.page.label.main"
            objectClass="org.eclipse.core.resources.IProject">
         <filter
               name="nature"
               value="org.eclipse.jdt.core.javanature"/>
      </page>
      <page
            class="net.sf.jautodoc.preferences.MainPreferencePage"
            id="net.sf.jautodoc.properties.MainPreferencePage"
            name="%preference.page.label.main"
            objectClass="org.eclipse.jdt.core.IJavaProject">
         <filter
               name="nature"
               value="org.eclipse.jdt.core.javanature"/>
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="net.sf.jautodoc.preferences.PreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.search.searchPages">
      <page
            canSearchEnclosingProjects="true"
            class="net.sf.jautodoc.search.TaskSearchPage"
            extensions="java:85, jav:85"
            icon="icons/jautodoc_search.gif"
            id="net.sf.jautodoc.search.SearchPage"
            label="JAutodoc Search"
            showScopeSection="true">
      </page>
   </extension>
   <extension
         point="org.eclipse.search.searchResultViewPages">
      <viewPage
            class="net.sf.jautodoc.search.TaskSearchResultPage"
            icon="icons/jautodoc_search.gif"
            id="net.sf.jautodoc.search.TaskResultViewPage"
            label="JAutodoc Search"
            searchResultClass="net.sf.jautodoc.search.TaskSearchResult">
      </viewPage>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="net.sf.jautodoc.actions.SearchActionSet"
            label="JAutodoc Search"
            visible="false">
         <menu
               label="%searchMenu.label"
               path="navigate"
               id="org.eclipse.search.menu">
                <groupMarker name="internalDialogGroup"/>   <!-- not to be used by clients  -->
                <groupMarker name="dialogGroup"/>           <!-- to be used by clients      -->
                <separator name="fileSearchContextMenuActionsGroup"/> <!-- to be used by clients      -->
                 <separator name="contextMenuActionsGroup"/> <!-- to be used by clients -->
                 <separator name="occurencesActionsGroup"/> <!-- to be used by clients -->
                 <separator name="extraSearchGroup"/> <!-- to be used by clients -->
         </menu>
         <action
               class="net.sf.jautodoc.actions.OpenSearchPageAction"
               icon="icons/jautodoc_search.gif"
               id="net.sf.jautodoc.actions.OpenSearchPage"
               label="JAutodoc..."
               menubarPath="org.eclipse.search.menu/dialogGroup">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation
            targetID="net.sf.jautodoc.actions.SearchActionSet">
         <part
               id="org.eclipse.jdt.ui.PackageExplorer">
         </part>
         <part
               id="org.eclipse.jdt.ui.TypeHierarchy">
         </part>
         <part
               id="org.eclipse.jdt.ui.CompilationUnitEditor">
         </part>
         <part
               id="org.eclipse.jdt.ui.ClassFileEditor">
         </part>
         <part
               id="org.eclipse.jdt.ui.ProjectsView">
         </part>
         <part
               id="org.eclipse.jdt.ui.PackagesView">
         </part>
         <part
               id="org.eclipse.jdt.ui.TypesView">
         </part>
         <part
               id="org.eclipse.jdt.ui.MembersView">
         </part>
         <part
               id="org.eclipse.search.SearchResultView">
         </part>
      </actionSetPartAssociation>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="net.sf.jautodoc.preview.CompilationUnitChange"
            class="net.sf.jautodoc.preview.CompilationUnitChangeAdapterFactory">
         <adapter
               type="org.eclipse.ltk.ui.refactoring.TextEditChangeNode">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.cleanUps">
      <cleanUp
            class="net.sf.jautodoc.cleanup.JAutodocCleanUp"
            id="net.sf.jautodoc.cleanup">
      </cleanUp>
      <cleanUpConfigurationUI
            class="net.sf.jautodoc.cleanup.JAutodocCleanUpConfigurationUI"
            cleanUpKind="cleanUp"
            name="JAutodoc">
      </cleanUpConfigurationUI>
      <cleanUpConfigurationUI
            class="net.sf.jautodoc.cleanup.JAutodocCleanUpConfigurationUI"
            cleanUpKind="saveAction"
            name="JAutodoc">
      </cleanUpConfigurationUI>
      <cleanUpOptionsInitializer
            class="net.sf.jautodoc.cleanup.JAutodocCleanUpOptionsInitializer"
            cleanUpKind="cleanUp">
      </cleanUpOptionsInitializer>
      <cleanUpOptionsInitializer
            class="net.sf.jautodoc.cleanup.JAutodocCleanUpOptionsInitializer"
            cleanUpKind="saveAction">
      </cleanUpOptionsInitializer>
   </extension>

</plugin>
